
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: white;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.h1 {
    text-align: center;
}
.boxes {
    width: 40vh;
    height: 40vh;
    padding: 20px;
    margin: 10px;
    border: 2px solid white; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.square-img {
    width: 50px;
     height: 50px; 
     align-items: center;
     justify-content: center;

}

#box1 {
     background-color: blue;  
    }
#box2 {
     background-color: rgb(43, 223, 226); }
#box3 {
    background-color: blue; }
#box4 { 
    background-color: rgb(43, 223, 226) }
